        
.NewTimeRecord{
    background-color:white;
    width:500px;
    height:328px;
    margin-right:2%;
    border: 1px gray;
    box-shadow:0px 0px 2px black;
    display:none;
    
}

.employ{
    background-color:white;
    width:300px;
    height:100px;
    margin-right:2%;
    margin-left:2%;
    border: 1px gray;
    box-shadow:0px 0px 2px black;
   
}
/* 

.pp{
    padding-left:20px;
    padding-top:15px;
} */

.em{
    background-color:whitesmoke;
    height:50px;
    width:100%;
}

.em p{
    padding-left:20px;
    padding-top:15px;
}


.line1{
    height:1px;
    background-color:lightgrey;
    width:100%;
    margin-top:0px;
}

.line3{
    height:1px;
    background-color:lightgrey;
    width:100%;
    margin-top:10px;
}

#empy, #type{
    padding:5px 0 5px 10px;
    width:160px;
    height:40px;
    font-family:13px;
    margin:5px 20px 5px 20px;
    
}

#date{
    padding:5px 0 5px 10px;
    width:150px;
    height:25px;
    font-family:13px;
    margin:5px 20px 5px 20px;
   
}

#subt{
    padding:5px 0 5px 5px;
    width:100px;
    height:40px;
    font-family:15px;
    margin:5px 20px 5px 20px;
    background-color:rgb(15, 102, 243);
    border:none;
    outline:none;
    color:white;
   
}

.line2{
    height:1px;
    background-color:lightgrey;
    width:100%;
    margin-bottom:0px;
}


.line22{
    height:1px;
    background-color:lightgrey;
    width:100%;
    margin-top:10px;
}

.saveDelete{
    background-color:whitesmoke;
    width:100%;
    height:55px;
}

.Save,.Cancel{
    background-color:rgb(15, 102, 243);
    margin:10px 10px 0 10px;
    width:80px;
    height:35px;
    border:none;
    outline:none;
    font-size:15px;
    color:white;
    border-radius:2px;
    cursor: pointer;
    float:right;
     
}

.Cancel{
    background-color:grey;
    color:white;

}

.ATable table{
    width:98%;
    border-collapse:collapse;
    border:1px solid black;
    margin:2% 1% 0% 1% ;
    /* text-align: center;  */
    table-layout:auto;
}


#edit,#Delete{
    background-color:red;
    color:white;
    margin:8px 8px 8px 0px;
    width:80px;
    height:35px;
    border:none;
    outline:none;
    font-size:15px;
    color:white;
    border-radius:2px;
    cursor: pointer;
    
}

#edit{
    width:50px;
    background-color:rgb(15, 102, 243);
    color:white;
    margin-left:30px;
}

#Delete{
    margin-right:30px;
} 

tr:nth-child(2n){
    background-color: whitesmoke;
}

tr:hover{
    background-color:lightgray;
} 

td{
    text-align:left;
    padding-left:10px;
    height:50px;
}


.edittrash{
    display:block;
    flex-direction: row;
}

#trash{
    color:red;
    background-color:white;
    width:30px;
    height:25px;
    border:1px solid red;
    text-align:center;
    padding-top:5px; 
    cursor: pointer;
}

#trash:hover{
    background-color:red;
    color:white;
}


.td2{
    width:70px;
    padding-left:35px;
}


.ui-dialog-titlebar{display: none;}
.ui-tabs-titlebar{
    background-color: white;
}  
